 <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/form_styles.css">
    <%- include('partials/head'); %>
  </head>
  <body>
    <nav>
      <%- include('partials/nav'); %>
    </nav>

    <div class="bodyText">
        <h1><%= type %> Recipe</h1>
        <form name="recipeForm" method="POST" action="/recipe_form" onsubmit="submission()">
        <!-- detail onsubmit actions, is action correct? -->
            <div class="formGroup">
              <div class="label">
                Recipe Name:
              </div>
              <input
                class="inputElement"
                type="text"
                name="name"
                    <% if(type != "Add"){ %> value="<%= recipe.name %>"<% } %>
              >
            </div>

            <div class="formGroup">
              <div class="label">
                Author Name:
              </div>
              <input
                class="inputElement"
                type="text"
                name="author"
                    <% if(type != "Add"){ %> value="<%= recipe.author %>"<% } %>
              >
            </div>

            <!-- category selector here -->

            <div class="formGroup">
              <div class="label">
                Picture URL:
              </div>
              <input
                class="inputElement"
                type="text"
                name="picture"
                    <% if(type != "Add"){ %> value="<%= recipe.picture %>"<% } %>
              >
            </div>

            <div class="formGroup">
              <div class="label">
                Prep Time:
              </div>
              <input
                class="nums"
                placeholder="Hrs"
                type="text"
                name="prepHours"
                    <% if(type != "Add"){ %> value="<%= recipe.prepHours %>"<% } %>
              >
              <input
                class="nums"
                placeholder="Mins"
                type="text"
                name="prepMin"
                    <% if(type != "Add"){ %> value="<%= recipe.prepMin %>"<% } %>
              >
            </div>

            <div class="formGroup">
              <div class="label">
                Cook Time:
              </div>
              <input
                class="nums"
                placeholder="Hrs"
                type="text"
                name="cookHours"
                    <% if(type != "Add"){ %> value="<%= recipe.cookHours %>"<% } %>
              >
              <input
                class="nums"
                placeholder="Mins"
                type="text"
                name="cookMin"
                    <% if(type != "Add"){ %> value="<%= recipe.cookMin %>"<% } %>
              >
            </div>

            <div class="formGroup">
              <div class="label">
                Ingredients:
              </div>
              <input class ="nums ingredients" id="amount" placeholder="Amount" type="text" name="amount">
              <input class="ingredients" id="unit" placeholder="Unit" type="text" name="unit">
              <input class="ingredients" id="ing" placeholder="Ingredient" type="text" name="ingredient">
              <input class="inputElement ingredients" id="prep" placeholder="Preparation" type="text" name="preparation">
              <input class="button" id="addIng" type='button' value='+'>
              <table id="addedList"></table>
            </div>

            <div class="formGroup">
              <div class="label">
                Directions:
              </div>
              <div class="explaination">
                (Enter each step in the directions or, if you don't want to view it as seperate steps, enter the entirety of the directions.)
              </div>
              <input id="directions" type="text" name="directions">
              <input class="button" id="addStep" type='button' value='+'>
              <ul id="stepList"></ul>
            </div>

            <div class="formGroup">
              <div class="label">
                Source:
              </div>
              <input
                class="inputElement"
                type="text"
                name="source"
                    <% if(type != "Add"){ %> value="<%= recipe.source %>"<% } %>
              >
            </div>

            <div class="invisible"></div>

            <input class="button" type="submit" value="Submit">
        </form>
    </div>
    <!-- change name to form.js? -->
    <script src="javascripts/form.js"></script>
    <!-- DEBUG -->
    <!--<script src="javascripts/directions.js"></script>-->
    <!-- DEBUG -->
    <!--<script src="javascripts/submit.js"></script>-->
  </body>
</html>
